@charset "UTF-8";
        html,
        body {
            overflow-x: hidden;
        }

        section {
            margin-top:52px;
            font-family: 'Nanum Gothic', sans-serif;
        }

        div#continentSelect{
            /* border:1px solid black; */
            width:100%;
            background-color:rgba(228, 227, 227, 0.356);
            /* height:580px; */
        }
        div#continentSelect #innerContinentSelect{
            width:1024px;
            position:relative;
            top:20%;
            margin:0 auto;
            height:400px;
        }

        
        ul#continents {
            list-style: none;
            background: url("../views/planner/img/map_big.png") no-repeat 0 0;
            background-size:850px 830px;
            position: relative;
            width: 850px;
            height: 400px;
            margin: 0 auto;
            padding: 0;
        }

        ul#continents li {
            /* border: 1px solid #000; */
            position: absolute;
            border-radius: 70px;
        }

        ul#continents li a {
            display: block;
            height: 100%;
            text-indent: -9000px;
        }

        ul#continents li a:hover {
            background: url("../views/planner/img/map_big.png") no-repeat 0 0;
            background-size:850px 830px;
        }

        ul#continents li#northAmerica a:hover {
            background-position: 0px -395px;
        }

        ul#continents li#southAmerica a:hover {
            background-position: -344px -357px;
        }

        ul#continents li#africa a:hover {
            background-position: -300px -590px;
        }

        ul#continents li#europe a:hover {
            background-position: -30px -635px;
        }

        ul#continents li#asia a:hover {
            background-position: -532px -397px;
        }

        ul#continents li#australia a:hover {
            background-position: -600px -639px;
        }


        #northAmerica {
            width: 350px;
            height: 170px;
            top: 0px;
            left: 0px;
        }

        #southAmerica {
            width: 135px;
            height: 175px;
            top: 150px;
            left: 125px;
        }

        #africa {
            width: 185px;
            height: 183px;
            top: 98px;
            left: 300px;
        }

        #europe {
            width: 185px;
            height: 102px;
            top: 5px;
            left: 307px;
        }

        #asia {
            width: 320px;
            height: 210px;
            top: 4px;
            left: 415px;
        }

        #australia {
            width: 165px;
            height: 130px;
            top: 190px;
            left: 630px;
        }

        #continentSelectContent{
            width:100%;
            display:none;
        }
        #innerContent #contentTitle{
        	position:relative;
        	top:70px;
        	padding-left:20px;
        	height:70px;
        	font-weight:bold;
        	font-size:50px;
        	font-family:"Russo One";
        	letter-spacing:2px;
        }
        #totalList{
            width:100%;
            height:600px;
            background-color:#a6abbe;
        }
        #innertotalList{
        	width:1024px;
            position:relative;
            margin:0 auto;
  
        }
        #totalListTitle{
        	font-size:25px;
        	font-weight:bold;
        	text-align:center;
        	padding-top:30px;
        	padding-bottom:30px;

        }
        .listContent{
        	padding-top:10px;
        	margin-bottom:25px;
        }
        .listContent>.city{
        	display:inline-block;
        	padding:20px;
        }
        
        .listContent>.city>a{
        	text-decoration:none;
        	color:black;
        	position:relative;
        	top:-2px;
        }
        .listContent>.city span{
        	color:white;
        	padding-left:5px;
        	font-weight:bold;
        	font-size:13px;
        	
        }
        .continentName{
        	border-bottom: 1px solid white;
        	font-size:20px;
        	font-weight:bolder;
        }
        #comingSoon{
        	font-family:"Russo One";
        	letter-spacing:2px;
        	font-size:23px;
        	padding-left:40px;
        	color:white;
        }