@charset "UTF-8";

html, body {
	overflow-x: hidden;
}

section {
	margin-top: 52px;
	font-family: 'Nanum Gothic', sans-serif;
}

div#continentSelect {
	/* border:1px solid black; */
	width: 100%;
	background-color: rgba(159,159,165,0.7);
	
	/* height:580px; */
	
}

div#continentSelect #innerContinentSelect {
	width: 1024px;
	position: relative;
	top: 20%;
	margin: 0 auto;
	height: 393px;
}

ul#continents {
	list-style: none;
	background: url("../views/planner/img/map_big.png") no-repeat 0 0;
	position: relative;
	width: 850px;
	height: 393px;
	margin: 0 auto;
	padding: 0;
}

ul#continents li {
	position: absolute;
	border-radius: 70px;
}

ul#continents li a {
	display: block;
	height: 100%;
	text-indent: -9000px;
}

div#continentTooltip {
	position: relative;
	display: inline-block;
	color: white;
	perspective: 600px;
	transform-style: preserve-3d;
}

ul#continents li div#continentTooltip {
	min-width: 100px;
	max-width: 350px;
	position: absolute;
	font-size: 16px;
	font-weight: bolder;
	text-align: left;
	background: #49506a;
	color: white;
	padding: 5px 10px;
	border-radius: 5px;
	display: block;
	top: 10px;
	left: 40px;
	line-height: 1.4em;
	transform: rotateX(90deg) translateZ(0px);
	opacity: 0;
	transition: transform 0.4s cubic-bezier(0.64, 0.57, 0.67, 1.53), opacity
		0.1s ease-out 0.1s;
	text-align: center;
}

ul#continents li:hover #continentTooltip {
	transform: rotateX(0) translateZ(20px);
	opacity: 1;
	transition: transform 0.4s cubic-bezier(0.64, 0.57, 0.67, 1.53), opacity
		0.1s ease-out;
}

ul#continents li div#continentTooltip:after {
	content: "";
	position: absolute;
	left: 45%;
	bottom: -7px;
	height: 0;
	border-style: solid;
	border-width: 7px 7px 0 7px;
	border-color: #49506a transparent transparent transparent;
}

ul#continents li a:hover {
	background: url("../views/planner/img/map_big.png") no-repeat 0 0;
}

ul#continents li#northAmerica a:hover {
	border-radius: 60px;
	background-position: 22px -396px;
}

ul#continents li#southAmerica a:hover {
	border-radius: 60px;
	background-position: -364px -378px;
}

ul#continents li#africa a:hover {
	background-position: -309px -575px;
}

ul#continents li#europe a:hover {
	border-radius: 82px;
	background-position: -18px -639px;
}

ul#continents li#asia a:hover {
	border-radius: 82px;
	background-position: -519px -379px;
}

ul#continents li#australia a:hover {
	border-radius: 65px;
	background-position: -583px -643px;
}

#northAmerica {
	width: 383px;
	height: 216px;
	top: 0px;
	left: 0px;
}

#southAmerica {
	width: 144px;
	height: 211px;
	top: 189px;
	left: 155px;
}

#africa {
	width: 198px;
	height: 209px;
	top: 130px;
	left: 337px;
}

#europe {
	width: 185px;
	height: 133px;
	top: 14px;
	left: 344px;
}

#asia {
	width: 320px;
	height: 252px;
	top: 11px;
	left: 473px;
}

#australia {
	width: 165px;
	height: 146px;
	top: 236px;
	left: 675px;
}

#continentSelectContent {
	width: 100%;
	display: none;
}
div#continentSelectContent #innerContent {
	width: 1024px;
	position: relative;
	margin: 0 auto;
	height: 393px;
}

#innerContent #contentTitle {
	position: relative;
	top: 70px;
	padding-left: 20px;
	height: 70px;
	font-weight: bold;
	font-size: 50px;
	font-family: "Russo One";
	letter-spacing: 2px;
}

#totalList {
	width: 100%;
	height: 600px;
	background-color: #a6abbe;
}

#innertotalList {
	width: 1024px;
	position: relative;
	margin: 0 auto;
}

#totalListTitle {
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
}

.listContent {
	padding-top: 10px;
	margin-bottom: 25px;
}

.listContent>.city {
	display: inline-block;
	padding: 20px;
}

.listContent>.city>a {
	text-decoration: none;
	color: black;
	position: relative;
	top: -2px;
}

.listContent>.city span {
	color: white;
	padding-left: 5px;
	font-weight: bold;
	font-size: 13px;
}

.continentName {
	border-bottom: 1px solid white;
	font-size: 20px;
	font-weight: bolder;
}

#comingSoon {
	font-family: "Russo One";
	letter-spacing: 2px;
	font-size: 23px;
	padding-left: 40px;
	color: white;
}