@charset "UTF-8";


   #logi{
       width:100%;
       height: 100%;
       display:none;
       z-index: 999;
       background-color: rgba(0, 0, 0,0.5);
       position: fixed;
       margin-top:0px !important;

   }
   .login{
       position: relative;
   	  width:100%;
        margin:0 auto;
        
   }
   .login_1{
   		position:relative;
   		width: 700px;
   		height:350px;
   		border:1px solid lightgray;
        margin:0 auto;
        background-color: white;
        top:100px;
   }
   #login-container{
       position: relative;
       width:100%;
       border-top:1px solid lightgray;
       padding-top:20px;
    
   }
   .login_inp>input{
   	width:270px;
   	height: 35px;
    		margin-bottom:10px;
    		border-radius:0;
    		outline:none;
/*     		position: relative;
    		left: -90px;
    		top: -10px; */
   }
   .wrap{
   	 width:270px;
   }
   .login_h2{
        position: relative;
   	    /* border-bottom:1px solid lightgray; */
        padding-top:20px;
        display: inline-block;
        margin-top:10px;
           
   }
   #login_exit{
        position: absolute;
        left:670px;
        border:none;
        top:3px;

   }
   .login_h2>h2{
   		margin-left:30px;
   }
   .login_2{
   		width:180px;
	   	position:absolute;
        left:150px;
        top:40px;
   	
   }
   .login_3{
   		margin-top : 100px;
   }
   .search{
   		position:relative;
   		left:100px;
   		margin-left : 100px;
   		margin-top : 20px;
   }
   
   
 



    .wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    wdith:100px;
    }

    .button {
    margin: 10px 10px;
    width: 200px;
    height: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    }

    .button:hover {
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(165, 198, 244, 0.4);
    color: #fff;
    transform: translateY(-7px);
    }

    .wrap1 {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left : 200px;
    width:100%;
    }

    .button1 {
    margin: 10px 5px;
    width: 150px;
    height: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    }

    .button1:hover {
    background-color: rgb(165, 198, 244);
    box-shadow: 0px 15px 20px rgba(3, 88, 54, 0.4);
    color: #fff;
    transform: translateY(-7px);
    }

    .wrap3 {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    }

    .button3 {
    margin: 10px 10px;
    width: 200px;
    height: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    }

    .button3:hover {
    background-color: rgb(7, 26, 199);
    box-shadow: 0px 15px 20px rgba(1, 3, 119, 0.4);
    color: #fff;
    transform: translateY(-7px);
    }
   

    

   
