@charset "UTF-8";

    html,
    body {
      height: 100%;
      margin: 0;
      padding: 0;
      overflow-x: hidden;
      overflow-y: hidden;
      font-family: 'Nanum Gothic', sans-serif;
    }
 header {
      z-index: 999;
      height: 60px;
      font-family: 'Nanum Gothic', sans-serif;
      border-bottom:1px solid rgba(180, 177, 177, 0.664);
    }

    header>div {
      width: 300px;
      height:30px;
      display: inline-block;
      position:absolute;
      top:9px;
      left:70px;
      padding-left:5px;
    }
    
    header>div#planTitle{
      border-radius:5px;
      cursor:pointer;
      padding-top:10px; 
    }
    #planTitle>#title{
      display:inline-block;
      font-weight:bolder;
    }
    header>div#editTitle{
      display:none;
      height:40px;
    }
    #editTitle input#editT{
      position:relative;
      top:7px;
      height:20px;
      width:240px;
    }
    #editTitle input#editBT{
      position:relative;
      top:6px;
      left:4px;
      height:26px;
      border:none;
      font-family:'Nanum Gothic', sans-serif;
      font-weight:bold;
      border-radius: 3px;
      background-color:rgb(253, 214, 94);
    }
    #editTitle #editBT:hover{
    background-color:#fde396;
    }
    #editTitle #editBT:focus{
  	  outline:none;
    }
    #editTitle #titleCnt{
      display:inline-block;
      position:relative;
      top:-19px;
      left:196px;
      width:45px;
      text-align:right;
 
      color:gray;
      font-size:11px;
    }

    header>div>i{
        position:absolute;
        top:10px;
        left:280px;
        color:white;
    }

    header>img {
      display: inline-block;
    }

    header button#close {
      position: absolute;
      display: inline-block;
      top: 12px;
      right: 30px;
      width: 90px;
      height: 35px;
    }	

    nav {
      background-color: white;
      /* border:1px solid red; */
      width: 120px;
      height: 100%;
      left: 0;
      margin: 0;
      position: fixed;
      display: inline-block;
      font-family: 'Nanum Gothic', sans-serif;
      border-right:1px solid rgba(180, 177, 177, 0.664);
    }

    .clickColor{
      background-color:rgb(253, 227, 150);
    }

    nav ul.dateInfo{
      list-style: none;
      padding:0;
      padding-top:6px;
      margin:0;
      text-align:center;
      font-size:14px;
    }

    nav ul.dateInfo>li{
      border-bottom:1px solid rgba(180, 177, 177, 0.664);
      height:40px;
    }
    div#fullDateEdit{
      margin-top:5px;
      margin-left:60px;
      font-weight:bold;
      /* border:1px solid black; */
      width:55px;
      font-size:12px;
      cursor:pointer;
    }
    div#fullDateEdit:hover{
      color:gray;
    }

    nav ul.dateInfo>li#showFullPlan{
      padding-top:10px;
      height:25px;
      font-weight:bold;
    }
    nav ul.dateInfo>li#showFullPlan:hover{
      background-color:rgba(253, 227, 150,0.5);
    }
    
    nav ul.mainMenu {
      margin: 0;
      list-style: none;
      padding: 0;
      min-height:61px;
      max-height:370px;
    }
    nav ul.mainMenu>li{
      border-bottom:1px solid rgba(180, 177, 177, 0.664);
      text-align: center;
      cursor:pointer;
    }
    nav ul.mainMenu>li:hover{
      background-color:rgba(253, 227, 150,0.5);
    }
    nav ul.mainMenu>li>div{
      display:inline-block;
      font-size:12px;
    }

    .mainMenu::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
  } 
  .mainMenu::-webkit-scrollbar-thumb {
    background-color: rgb(189, 189, 189);
  }
    #mm_dayCount{
      display:block;
      font-weight:bold;
      font-size:20px;
    }
    #mm_city{
      display:block;
      font-size:14px;
      padding-bottom:3px;
      color:rgb(97, 96, 96);
    }

    ul#addDayBox{
      /* border:1px solid red; */
      list-style:none;
      padding:0;
      text-align:center;
      min-height:36px;
      margin:0;
      padding-top:12px;
      padding-bottom:12px;
    }
    ul#addDayBox #addDay{
      border:2px solid rgb(151, 151, 151);
      color:rgb(83, 83, 83);
      margin-left:9px;
      padding-top:6px;
      padding-bottom:4px;
      width:100px;
      height:22px;
      font-weight:600;
      cursor:pointer;
      border-radius:4px;
    }
    #addDay>span{
      transition:0.5s;
    }
    #addDay>span:before{
      content:"+";
      position:absolute;
      opacity:0;
      left:30px;
      transition:0.5s;
    }
    #addDay:hover span{
      padding-left:15px;
    }
    #addDay:hover span:before{
      opacity:1;
      left:18px;
    }
  
    ul#userGuide{
      border-top:2px solid rgba(180, 177, 177, 0.664);
      /* border:1px solid red; */
      list-style:none;
      padding:0;
      margin:0;
      height:40px;
      min-height:40px;
      text-align:center;
    }

    ul#userGuide>li{
      padding-top:12px;
      padding-bottom:10px;
      font-size:13px;
      font-weight:600;
      cursor:pointer;
    }

    ul#userGuide>li:hover{
      color:gray;
      letter-spacing: 1px;
    }

    div#subMenu{
      border-right:1px solid rgba(180, 177, 177, 0.664);
      width:170px;
      height:100%;
      position:fixed;
      left:120px;
    }

    div#subMenu>ul{
      list-style:none;
      padding:10px;
      border-bottom:1px solid rgba(180, 177, 177, 0.664);
      margin:0;
      height:62px;
    }

    div#subMenu>ul>li>div{
      display:inline-block;
    }

    #subMenu div#sm_dayCount{
      /* border:1px solid red; */
      text-align:center;
      font-weight:bold;
      font-size:20px;
      margin-top:5px;
      margin-left:10px;
      padding-right:5px;
      width:70px;
    }

    #subMenu div#sm_refresh{
      border:1px solid rgba(180, 177, 177, 0.664);
      border-radius:80px;
      font-size:13px;
      padding:4px 5px 2px 4px;
      position:relative;
      top:0px;
      left:23px;
    }
    #subMenu div#sm_prevBT,div#sm_nextBT{
      border:1px solid rgba(180, 177, 177, 0.664);
      width:20px;
      height:20px;
      text-align: center;
      font-size:16px;
      font-weight:bold;
      position:relative;
      top:-3px;
      cursor:pointer;
    }
    div#sm_prevBT{
      position:relative;
      left:15px;
    }
    div#sm_nextBT{
      border-left:none;
      position:relative;
      left:10px;
    }
    #subMenu div#sm_prevBT:hover,div#sm_nextBT:hover,div#sm_refresh:hover{
      color:gray;
    }

    #sm_date,#sm_weekday{
      /* border:1px solid red; */
      font-size:14px;
      margin-top:10px;
      margin-left:5px;
    }

    #sm_weekday{
      margin-left:0px;
    }

    div#searchCityMenu{
      border-right:1px solid rgba(180, 177, 177, 0.664);
      width:230px;
      height:100%;
      position:fixed;
      left:291px;
    }

    div#searchCityMenu>ul{
      list-style:none;
      padding:0px;
      margin:0;
      height:82px;
      border-bottom:1px solid rgba(180, 177, 177, 0.664);
      font-weight:bold;
      font-size:20px;
    }

    div#searchCityMenu div#sc_title{
      position:relative;
      left:10px;
      top:10px;
    }

    div#searchCityMenuClose{
      display:inline-block;
      width:37px;
      height:35px;
      padding-top:5px;
      padding-right:3px;
      text-align:center;
      font-size:25px;
      background-color:rgb(180, 177, 177);
      position:absolute;
      left:522px;
      top:70px;
      cursor:pointer;
      z-index:10;
    }
    
    #searchCityMenu #attractionIcon,#activityIcon,#festivalIcon,#clipIcon{
      color:gray;
      border:1px solid gray;
      border-radius:80px;
      font-size:18px;
      padding:4px 5px 2px 4px;
      margin-left:10px;
      margin-right:10px;
      display:inline-block;
      position:relative;
      top:5px;
      left:9px;

    }
    div#activityIcon{
      padding-left:6px;
      padding-right:6px;
    }
    div#festivalIcon{
      font-size:18px;
      padding-left:3px;
      padding-right:4px;
    }
    div#clipIcon{
      padding-left:6px;
      padding-right:6px;
    }

    #searchCityMenu #attractionIcon:hover,#activityIcon:hover,#festivalIcon:hover,#clipIcon:hover{
      background-color:rgba(253, 227, 150, 0.5);
    }
   
    #iconWrap{
      border-top:1px solid rgba(180, 177, 177, 0.664);
      position:relative;
      height:38px;
      top:21px;
    }
    
    .iconColor{
    	border:2px solid gray;
    	background-color:rgb(253, 227, 150);
    	top:3px;
    }

    div#map{
      position:relative;
      left:522px;
      z-index:1;
    }
