@charset "UTF-8";


html, body{
    overflow-x: hidden;
}
section#header-container{
    overflow: hidden;
    
}
div#cover-container{
    width:1024px; 
    background-size: 100% 303px;
    height:303px;
    margin: auto;
    margin-top:53px;
}
div#cover-content{
    position: relative;
    width:1024px;
    height:280px;
    /* border:1px solid black;  */
    margin:0 auto;
    top:15px;   
}

label#cover-change {
    position: relative;
    display: inline-block;
    padding: 3px;
    color: white;
    font-size: inherit;
    line-height: normal;
    vertical-align: middle;
    background-color: #49506a;
    border-radius: .25em;
    left:80px;
}

input[type="file"] {  /* 파일 필드 숨기기 */
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip:rect(0,0,0,0);
  border: 0;
}

div#like_btn{
    width:40px;
    height:40px;
    position: relative;
    float:right;
    background-image: url("../views/planner/img/heart_off.png");
    background-size: 40px 40px;
    opacity: 0.5;
    right:40px;
    /* top:240px; */
    z-index: 9;
    box-shadow: 1px 1px 1px black;
    border-radius: 20px;
}
div#like_btn, #cover-change:hover{
    cursor: pointer;
}
div#planner-info{
    position: relative;
    top:60px;
    /* border:1px solid red; */
    width:100%;
    height:200px;
    background-image:url("../views/planner/img/planner_info_cover.png");
    background-size: 100%;
    
}
div#planner-info>div{
    top:50px;
    left:60px;
}
#planner-name>div {
    width: 300px;
    height:30px;
    display: inline-block;
    position:absolute;
    /* top:9px; */
    /* left:70px; */
    padding-left:5px;
  }
  
  div#planTitle{
    border-radius:5px;
    cursor:pointer;
    padding-top:10px; 
  }
  #planTitle>#title{
    display:inline-block;
    font-weight:bolder;
  }
 #planner-name>div#editTitle{
    display:none;
    height:40px;
  }
  #editTitle input#editT{
    position:relative;
    top:7px;
    height:20px;
    width:240px;
  }
  #editTitle input#editBT{
    position:relative;
    top:6px;
    left:4px;
    height:26px;
    border:none;
    font-family:'Nanum Gothic', sans-serif;
    font-weight:bold;
    border-radius: 3px;
    background-color:rgb(253, 214, 94);
  }
  #editTitle #editBT:hover{
  background-color:#fde396;
  }
  #editTitle #editBT:focus{
      outline:none;
  }
  #editTitle #titleCnt{
    display:inline-block;
    position:relative;
    top:-38px;
    left:196px;
    width:45px;
    text-align:right;

    color:gray;
    font-size:11px;
  }




div#planner-writer{
    position: relative;
    display: inline-block;
    /* width:150px; */
    height:45px;
    /* border:1px solid blue; */
    left:5px;
    
    
}
div#planner-writer-profile{
    position: relative;
    display: inline-block;
    height:40px;
    /* border:1px solid yellow; */
    
}
div#planner-writer-name{
    position: relative;
    display: inline-block;
    /* width:40px; */
    height:40px;
    /* border:1px solid yellow; */
    font-size:23px;
    color:white;
    font-weight: 600;
    top:-10px;
    padding-left:5px;
    padding-right:5px;
}
div#planner-member{
    position: relative;
    display: inline-block;
    width:700px;
    height:45px;
    /* border:1px solid blue; */
}
div#planner-name{
    position: relative;
    display: inline-block;
    width:200px;
    height:40px;
    /* border:1px solid yellow; */
    font-size:30px;
    color:white;
    font-weight: 600;
    left:10px;
}
div#planner-etc{
    position: relative;
    width:300px;
    height:30px;
    /* border:1px solid green; */
    left:10px;
    margin-top:10px;
}
div#planner-etc-date{
    position: relative;
    display: inline-block;
    color:white;
    padding-right: 5px;
    padding-left:5px;
}
div#planner-etc-theme{
    position: relative;
    display: inline-block;
    width:80px;
    background-color:silver;
    text-align: center;
    border-radius: 5px;
    top:1px;
}
div#planView-nav{
    width:100%;
}
div#navBar{
    width:960px;
    margin:0 auto;
}
div#planView-nav{
    border-bottom: 1px solid silver;
    height:40px;
    margin-top:-10px;
}
div#planView-nav li{
    float: left;
    font-size: 25px;
    font-weight: 100;
    width:100px;
    height: 40px;
    text-align: center;
}
div#planView-nav a:hover{
    cursor: pointer;
}
div#planView-nav ul{
    margin-left:-40px;
}
div#planView-nav input[type=button]{
    float:right;
    width:150px;
    height:40px;
    margin-left:20px;
    margin-top:-5px;
}
div#planView-nav input[type=button]:focus{
    outline: none;
}
div#planView-nav input[type=button]:hover{
    cursor: pointer;
}
div#planView-nav input[type=button]:active{
    cursor: pointer;
    
}
input#copy_btn{
    position: relative;
    background-color: #707da8;
    border: none;
    color:white;
    font-weight: 400;
    font-size: 20px;
    top:2px;
}
input#modify_btn{
    position: relative;
    background-color: #8eade7;
    border: none;
    color:white;
    font-weight: 400;
    font-size: 20px;
    top:2px;
}
section#planView-main{
    width:100%;
    height:200px;
}
div.planView-main-container{
    width:960px;
    margin: 0 auto;
    margin-top:20px;
    /* border:1px solid red; */
}
div#planner-containerNmap{
    position: absolute;
    width:800px;
    /* border:1px solid black; */
    margin:0 auto;
    margin-left:102px;
    display:inline-block;
    /* margin-right:0px; */
}
div#planner-container{
    width:500px;
    /* border:1px solid lavender; */
    margin:0 auto;
}
div#right-side{
    width: 350px;
    height:500px;
    margin:0 auto;
    position: absolute;
    margin-left: 12px;
    border:1px solid red;

}
div#side-map{
    width: 350px;
    height:350px;
}
div#planner-container, #right-side, #side-navi{
    display: inline-block;	
}
div#side-navi{
    position: fixed;
    width:90px;
    border:1px dotted red;
    text-align: center;
}
.side-navi-btn{
    font-size: 15px;
    border:none;
    background-color: white;
    display:block;
    margin:0 auto;

}

div#side-navi:hover{
    cursor: pointer;
}
div#side-navi input[type=button]:focus{
    outline:none;
}
div#side-navi input[type=button]:hover{
    cursor: pointer;
}
div.day-planner{
    margin-bottom: 15px;
}
td.day-day{
    font-size: 30px;
    width: 50px;
    height:60px;
    text-align: center;
    color:white;
    font-weight: 900;
    background-color: #49506a;
}
td.day-date{
    width:400px;
    height:20px;
    font-size: 12px;
    font-weight: 900;
    color:black;
}
td.day-city{
    font-size: 25px;
    font-weight: 900;
    width:400px;
    color:black;
    border-bottom: 1px solid lavender;
}
td.day-num{
    text-align: center;
    width: 50px;
    font-size: 30px;
    font-weight: 900;
    color:#49506a;
}
td.day-tourImg{
    width:100px;
}
td.day-tourDistance1{
    width:50px;
    height:15px;
    border-right: 2px dotted black;
}
td.day-tourDistance2{
    width:50px;
    height:15px;
    font-size: 12px;
}
td.day-tourName{
    width:300px;
    height: 50px;
    font-size: 20px;
}
td.day-tourName span{
    position: relative;
    top:10px;
}
td.day-tourType{
    width:30px;
    /* text-align: center; */
    font-size: 12px;
}
td.day-tourType span{
    position: relative;
    /* border:1px solid black; */
    top:-10px;
    padding:2px;
    border-radius: 3px;
    background-color:#49506a;
    color: white;
    
    
}
td.day-tour-zoom{
    position: relative;
    top:20px;
}
td.day-score span{
    position: relative;
    /* border:1px solid black; */
    top:-10px;
    padding:2px;
    font-size: 15px;
    /* left:-100px; */
}
table.day-table{
    border-spacing: 0;
    width:500px;
    border:1px solid lavender;
}
#planner-schedule{
    display:none;
}

table#planner-schedule-tbl{
    position: relative;
    width:960px;
    border:2px solid brown;
    border-collapse: collapse;
    margin:0 auto;
    top:10px;
    
}
table#planner-schedule-tbl td, th{
    border:1px solid chocolate;
}
table#planner-schedule-tbl th{
    height:30px;
    background-color: brown;
    color:aliceblue;
    font-weight: bold;
    font-size: 20px;
    
}
td.schedule-day>p{
    font-size: 25px;
    margin:0;
    font-weight: 900;	
}
td.schedule-day{
    text-align: center;
    width:180px;	
}
td.schedule-city{
    font-size: 20px;
}
td.schedule-att>p{
    margin:2px;
}

div#main-map{
    position: absolute;
    width:100%;
    height:100%;
    top:0;
    z-index: 990;
}
div#main-map-map{
    display: inline-block;
    position: absolute;
    height:100%;
    top:0;
    z-index: 990;
}

div#main-map-navi{
    display: inline-block;
    position: absolute;
    width:170px;
    height:100%;
    top:0;
    right:0;
    z-index: 999;
    background-color: whitesmoke;
}

div#exit-main{
    text-align: center;
    
}
button#exit-mainMap{
    width:170px;
    height:35px;
    border:none;
    background-color:navy;
    color:white;
}
div.mmn-div{
    position: relative;
    color:white;
    /* margin:5px; */
    margin-top:5px;
}
table.mmn-tbl{
    border-top:2px solid navy;
    border-bottom:2px solid navy;
    border-collapse: none;
    width:170px;
    padding-top: 3px;
    padding-bottom:3px;
}
table.mmn-tbl:hover{
    cursor: pointer;
}
div#main-map-navi{
    overflow:auto;
}
td.mmn-day{
    font-weight: 600;
    font-size: 20px;
}
td.mmn-date{
    text-align: center;
}
td.mmn-date>p{
    border:0;
    margin:0;
}
p.mmn-date-city{
    font-size: 10px;
}


