@charset "UTF-8";

#adsideWrapper {
  width:180px;
  height:1000px;
  position: absolute;
}
#adside {
  position: absolute;
  top: 0;
}
#adside.fixed {
  position: fixed;
  top: 0;
  margin-top:30px;
}
.community{
	position: relative;
	width:1024px;
	margin:0 auto;
}
.community_right{
	position: absolute;
	width:800px;
	height:1000px;
	margin-left:180px;
	border-left:1px solid lightgray;
}

section{
	height:2000px;
}
table{
	border:1px solid black;
}
th{
	border:1px solid black;
	width: 80px;
	height:20px;
}
td{
	border:1px solid black;
	width: 80px;
	height:20px;
}

.con1_bottom{
	width:100%;
	height:50px;
	border-bottom: 1px solid lightgray;
}
.con1_bottom1{
	width:1024px;
	height:50px;
	margin:0 auto;
	margin-top:-5px;
}
.con1_bottom1>p{
	display:inline-block;
}
.con1_bottom_p2 i a{
	color:black;
}
.con1_bottom_p2{
	margin-left:200px;
}

.city_leftmenu{
	float: left;
    display: inline-block;
    width: 180px;
    height:1300px;
    padding-top: 30px;
}

.city_ul>li{
	width: 182px;
	height:40px;
}
.city_ul>li>a{
	width: 182px;
	height:30px;
}
.city_ul{
    text-align: left;
    margin: 0;
    margin-left: -40px;
}
.city_leftmenu>h2{
	margin-top:-10px;
}