

*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: 'Nanum Gothic', sans-serif;
}

.aos-all {
  width: 1024px;
  margin:0 auto;
  height:700px;
  text-align:center;
}

.aos-item {
  display: inline-block;
  float: left;
  width: 33.3333%;
  height: 300px;
  padding: 20px;
}

.aos-item__inner {
  position: relative;
  width: 100%;
  height: 100%;
  float: left;
  border:1px solid lightgray;
  text-align: center;
}
.aos-item__inner>img{
	position:relative;
	width:100%;
	height:100%;
}
.aos-item__inner>h3{
	position:relative;
	top:-100px;
	font-weight:600;
	color:white;
}
.aos-item__inner>p{
	position:relative;
	top:-115px;
	color:white;
}

/* @media screen and (max-width: 800px) {
  .aos-item {
    width: 50%;
  }
} */
